@font-face {
    font-family: 'Tan Meringue';
    src: url('TAN Meringue/TAN MERINGUE.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Tan Meringue';
    background-color: #e36b2b;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    color: #f9f98f;
    padding: 0vmax 2vmax 0 2vmax;
    height: 8rem;
    margin-top: -2rem;
}

.title {
    font-size: 4rem;

}

header p {
    font-size: 0.8rem;
}

.question-container {
    display: flex;
    color: #3A1409;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: -2rem;
    line-height: 2rem;
}

.abcd{
    padding-right: 1vmax;
    background-color: #f9f98f;
    border: 2.5px solid #3A1409;
    border-radius: 40px;
    font-family: 'Tan Meringue';
    cursor: pointer;
   
}

.clicked {
    background-color: #3A1409;
    color: #f9f98f;
}

.abcd span {
    padding: 5px 10px;
    border: 1px #3A1409 solid;
    border-radius: 75%;

}

.clicked span {
    padding: 5px 10px;
    border: 1px #f9f98f solid;
    border-radius: 75%;

}

.question {
    margin: 3rem 0;
    font-size: 2rem;
    line-height: 3rem;
}

.question-container button {
    margin-top: 20px;
    margin-bottom: 20px;
    /*padding: 25px 25px 15px 10px;*/
    height: 4.75rem;
    width: 35rem;
    padding-top: 0.5rem;
}


.question-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.question-img-container img {
    width: 35vmax;
    height: auto;
    opacity: 0.8;
   
}


.nav-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 1rem;
    
}


.nav-container a {
    text-decoration: none;
    font-weight: bold;
    color: #3A1409;
}

.nav-container a {
    text-decoration: none;
    font-weight: bold;
    color: #3A1409;
    background-color: transparent;
    border: none;
    font-family: 'Tan Meringue';
    font-size: 1rem;
}

.nav-container a[disabled] {
    text-decoration: none;
    font-weight: bold;
    color:#3A1409
    background-color: transparent;
    border: none;
    font-family: 'Tan Meringue';
    font-size: 1rem;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    color:#3A1409;
    font-size: 0.75rem;
    align-items: center;
}

.social-list {
    list-style-type: none;
  }

  .social-list-container {
    display: flex;
   margin: 0;
    justify-content: flex-end;
    align-items: center;
  }


  /*.social-list path {
    cursor: pointer;
    
  }*/


  .social-list svg {
    margin-right: 2vmax;
  }

  .icon {
    fill: #f9f98f;
  }
