@font-face {
    font-family: 'Tan Meringue';
    src: url('../TAN Meringue/TAN MERINGUE.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Tan Meringue';
    background-color: #e36b2b;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #f9f98f;
    padding: 0 2.4rem; /* 2.4rem is 38.4px */
    height: 8rem; /* 8rem is 128px */
    margin: 1rem 0;
    flex-wrap: wrap;
}

.logo {
    height: 8rem; /* 8rem is 128px */
}

.title {
    font-size: 4rem; /* 4rem is 64px */
}

.content {
    width: 80%;
    height: fit-content;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.start-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-img-container img {
    width: 25rem; /* 25rem is 400px */
    height: auto;
    opacity: 0.8;
}

.quiz-title {
    margin-top: 3.5rem; /* 3.5rem is 56px */
    margin-bottom: 1rem;
    font-size: 2rem; /* 2rem is 32px */
    line-height: 3rem; /* 3rem is 48px */
    font-weight: bold;
}

.start-container {
    display: flex;
    color: #3A1409;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 0;
    line-height: 2rem; /* 2rem is 32px */
}

.nav-container a {
    text-decoration: none;
    font-weight: bold;
    color: #3A1409;
    background-color: transparent;
    border: none;
    font-family: 'Tan Meringue';
    font-size: 1.5rem; /* 1.5rem is 24px */
}

/*.nav-container a:hover {
    color: #f9f98f;
}*/

.nav-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1.5625rem; /* 25px */
    margin-bottom: 3.75rem; /* 60px */
    font-size: 1rem; /* 1rem is 16px */
}

.nav-button {
    display: flex;
    background-image: url(../resources/start.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2.5rem; /* 2.5rem is 40px */
    align-items: center;
}

/*.nav-button:hover {
    background-image: url(resources/start-hover.png);
}*/

footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem; /* 1rem is 16px, 2rem is 32px */
    color: #3A1409;
    font-size: 0.75rem; /* 0.75rem is 12px */
    align-items: center;
    bottom: 0;
    position: fixed;
}

.social-list {
    list-style-type: none;
}

.social-list-container {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
}

/*.social-list path {
    cursor: pointer;
}*/

.social-list svg {
    margin-right: 1.5rem; /* 1.5rem is 24px */
}

.icon {
    fill: #f9f98f;
}

.email_submission {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem; /* 2rem is 32px */
    line-height: 3rem; /* 3rem is 48px */
    font-weight: bold;
    text-align: center;
}

.email-container {
    display: flex;
    color: #3A1409;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 0;
    line-height: 2rem; /* 2rem is 32px */
    text-align: justify;
}

.email-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-img-container img {
    width: 35rem; /* 35rem is 560px */
    height: auto;
    opacity: 0.8;
}

.input-container {
    padding-bottom: 1rem; /* 3rem is 48px */
    flex: 1;
    text-align: center;
}

.input-container input {
    /* 1.25rem is 20px */
    margin-bottom: 1.25rem; /* 1.25rem is 20px */
    height: 4.75rem; /* 4.75rem is 76px */
    width: 35rem; /* 35rem is 560px */
    padding-top: 0;
    display: flex;
    align-items: center;
    font-family: helvetica;
    font-size: 1.5rem; /* 1.5rem is 24px */
}

.input {
    padding-right: 1rem;
    padding-left: 2rem;
    background-color: #f9f98f;
    border: 0.15625rem solid #3A1409; /* 2.5px is approximately 0.15625rem */
    border-radius: 2.5rem; /* 40px is 2.5rem */
    font-family: 'helvetica';
    font-size: 1.2rem; /* 1.2rem is 19.2px */
}


.name-input {
    display: flex;
}

.first, .last {
    flex: 1;
    padding-right: 1rem;
    padding-left: 2rem;
    background-color: #f9f98f;
    border: 0.15625rem solid #3A1409; /* 2.5px is approximately 0.15625rem */
    border-radius: 2.5rem; /* 40px is 2.5rem */
    font-family: 'helvetica';
    font-size: 1.2rem; /* 1.2rem is 19.2px */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.name-input .first {
    margin-right: 1rem; /* Optional: adds spacing between the two inputs */
}

.first-div p{
    margin-left: -1rem;
    margin-bottom: 0;
    line-height: 1.25rem;
}

.email-div p{
    margin-left: -1rem;
    margin-bottom: 0;
    line-height: 1.25rem;
}

.first, .input {
    margin-top: 0.5rem;
}

.name-input input {
   /* 1.25rem is 20px */
    margin-bottom: 1.25rem; /* 1.25rem is 20px */
    height: 3.75rem; /* 4.75rem is 76px */
    width: 17rem; /* 35rem is 560px */
    padding-top: 0;
    display: flex;
    align-items: center;
    font-family: helvetica;
    font-size: 1.5rem; /* 1.5rem is 24px */
}

.required {
    font-family: 'helvetica';
    color: #ea1010;
    font-size: 0.9rem;
    margin: 0;
    margin-left: -1rem;
}


.enter-button {
    font-size: 1.25rem; /* 1.25rem is 20px */
    display: flex;
    background-image: url(../resources/start.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2.5rem; /* 2.5rem is 40px */
    align-items: center;
    text-decoration: none;
    color: #3A1409;
}

.enter-button p {
    padding: 0 1rem;
    margin: 1rem;
}

.input-container {
    /* 4rem is 64px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gdpr {
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}

.gdpr p {
    font-size: 0.65rem;
    line-height: normal;
    text-align: center;
    font-family: helvetica;
    font-style: italic;
}

.results-container {
    width: 80%;
    display: flex;
    color: #3A1409;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: justify;
}

.healing-style-title {
    font-size: 1.25rem; /* 1.25rem is 20px */
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 10px;
    }

    .start-container {
        display: flex;
        color: #3A1409;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin: auto;
        text-align: center;
        margin-top: 0;
        line-height: 2rem; /* 2rem is 32px */
    }

    .start-img-container img {
        width: 25rem; /* 25rem is 400px */
        height: auto;
        margin-top: 4rem; /* 4rem is 64px */
    }

    .social-list svg {
        width: 1.5rem; /* 1.5rem is 24px */
        height: 1.5rem; /* 1.5rem is 24px */
    }

    footer {
        flex-direction: row;
        text-align: center;
        padding-left: 2rem; /* 2rem is 32px */
    }
}
